docs/.obsidian/*

*.jsonl.gz
*.jsonl
*.json
*.jsonl.gz
*.jsonl
*.json
*.jsonl.gz
*.jsonl
*.json
*.jsonl.gz
**/*.pyc

data/

manifests/

cache/
.env
**/.DS_Store
docs/.DS_Store
checkpoints/*
wandb/*
*.log
*.lca